<!DOCTYPE html>
    <header>

    </header>
    <body>
        <form action="/testwzy/login" method="post">
            <label>账号：</label>
            <input name="usr" value="" type="text" /><br/>
            <label>密码：</label>
            <input name="pwd" value="" type="password" /><br/>
            <label>是否记住账号：</label>
            <input name="is_stored" type="checkbox"/><br/>
            <button type="submit">登录</button>
        </form>
    </body>
    <!-- <script type="text/javascript">
        function click_radio(e) {
            var o = e.target;
            o.checked = !o.checked;
            if(o.checked) {
                o.value = true;
            } else {
                o.value = false
            }
        }
    </script> -->
</html>